<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>agent-alert</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.agentalert.app</string>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUFeedURL</key>
	<string>https://github.com/thongntit/agent-alert/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>tFhZhBWDcu+jkwclJoZ0rLIyXWSUJ/OUQQhjCykLfYs=</string>
</dict>
</plist>
