<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alerto</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.alerto.app</string>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUFeedURL</key>
	<string>https://github.com/thongntit/alerto/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sElwfDTSickg4KUpbD2j4JnXimYVt1DJBvvvy36QS+k=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableSystemProfiling</key>
	<false/>
</dict>
</plist>
